body {
    background-color: #67838f
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #ffd745
}

:root {
    --bound: 0px;
}

#box {
    background: #2BFFD8;
    border-radius: 50%;
    height: var(--bound);
    width: var(--bound);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

span,
h2 {
    color: #ffd745;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}